:root{
    --primary-color: rgb(239, 239, 239);
    --secondary-color: rgb(49, 153, 245);
    --primary-text-color: rgb(0, 0, 0);
    
}

@font-face {
    font-family: myFont;
    src: url(./Poppins-Medium.ttf);
}
  
html,body{
    margin: 0;
    height: 100%;
    padding: 0;
    
}

body {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1.2fr 9fr 0.5fr;
    font-family: myFont;
    background-image: url("./223907-P1OHRO-742.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


header,footer,#header_links {
    color: var(--primary-text-color);
    display: flex;
    align-items: center;
}

header {
    background-color: var(--primary-color);
    justify-content: space-between;
}

footer {
    background-color: var(--primary-color);
    justify-content: center;
}

#header_name{
    font-size: 30px;
    margin-left: 20px;
}

#header_links {
    justify-content: space-between;
    margin-right: 20px;
    cursor: pointer;
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_link {
    margin-left: 20px;
}

footer>span {
    margin-right: 6px;
    font-style: italic;
}

a {
    color: var(--primary-text-color);
    text-decoration: none;
}

.selected {
    border-bottom: black solid;
}

